services:
  spidi:
    image: node:20-alpine
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
    command: sh -c "npm install && npm run dev"